@model HAWK_v.Models.TempModel
@{
    ViewBag.MangDno = @ViewBag.tempDno;
}
<div class="row tm-content-row tm-mt-big">
    <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <h2>New Temp-User</h2>


        <div class=" white-block bg-white tm-block h-100">
            <div class="Camera-form">
                <form asp-action="AddTempToDB" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-4 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Full Name</div>
                            <label asp-for="Name" class="sr-only" for="inlineFormInputGroupUsername1"></label>
                        </div>

                        <input asp-for="Name" type="text" class="form-control" id="inlineFormInputGroupUsername1">
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>

                    <div class="input-group mb-4 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Email</div>
                            <label asp-for="Email" class="sr-only" for="inlineFormInputGroupUsername2"></label>
                        </div>

                        <input asp-for="Email" type="text" class="form-control" id="inlineFormInputGroupUsername2">
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                    <div class="input-group mb-4 mr-sm-2">
                        <input asp-for="Dno" type="text" style="visibility:hidden" value="@ViewBag.tempDno" class="form-control" id="inlineFormInputGroupUsername2">
                        <span asp-validation-for="Dno" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-4 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Permission Start Date</div>
                            <label asp-for="PStartDate" class="sr-only" for="inlineFormInputGroupUsername2"></label>
                        </div>

                        <input asp-for="PStartDate" type="text" class="form-control" id="inlineFormInputGroupUsername2">
                        <span asp-validation-for="PStartDate" class="text-danger"></span>

                    </div>
                    <div class="input-group mb-4 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Permission End Date</div>
                            <label asp-for="PEndDate" class="sr-only" for="inlineFormInputGroupUsername2"></label>
                        </div>

                        <input asp-for="PEndDate" type="text" class="form-control" id="inlineFormInputGroupUsername2">
                        <span asp-validation-for="PEndDate" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-action btn-sm px-2" style="float: right">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}