@model HAWK_v.Models.TempModel

<div class="row tm-content-row tm-mt-big">
    <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <h2>New Temp-User</h2>


        <div class=" white-block bg-white tm-block h-100">
            <div class="Camera-form">
                <form>
                    <div class="input-group mb-4 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Full Name</div>
                            <label class="sr-only" for="inlineFormInputGroupUsername1"></label>
                        </div>

                        <input type="text" class="form-control" id="inlineFormInputGroupUsername1">
                    </div>

                    <div class="input-group mb-4 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Display Name</div>
                            <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
                        </div>

                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2">
                    </div>
                    <div class="input-group mb-4 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Email</div>
                            <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
                        </div>

                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2">
                    </div>
                    <div class="input-group mb-4 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Permission Start Time</div>
                            <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
                        </div>

                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2">
                    </div>
                    <div class="input-group mb-4 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Permission End Time</div>
                            <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
                        </div>

                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2">
                    </div>
                    <button type="button" class="btn btn-action btn-sm px-2" onclick="" style="float: right">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}