@model HAWK_v.Models.TempModel
@{
    ViewBag.MangDno = Model.Dno;
}
<div class="row tm-content-row tm-mt-big">
    <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <h2>Edit Temp-User</h2>

        <div class=" white-block bg-white tm-block h-100">
            <div class="Camera-form">
                <form asp-action="EditTempToDB">
                    <input asp-for="Id" style="visibility:hidden;" type="text" class="form-control" id="inlineFormInputID" value="@Model.Id">
                    <div class="input-group mb-4 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Name</div>
                            <label asp-for="Name" class="sr-only" for="inlineFormInputGroupName"></label>
                        </div>

                        <input asp-for="Name" type="text" class="form-control" id="inlineFormInputGroupName">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-4 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Email</div>
                            <label asp-for="Email" class="sr-only" for="inlineFormInputGroupEmail"></label>
                        </div>

                        <input asp-for="Email" type="text" class="form-control" id="inlineFormInputGroupEmail">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="input-group mb-4 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Permission Start Date</div>
                            <label asp-for="PStartDate" class="sr-only" for="inlineFormInputGroupPStartDate"></label>
                        </div>

                        <input asp-for="PStartDate" type="text" class="form-control" id="inlineFormInputGroupPStartDate">
                        <span asp-validation-for="PStartDate" class="text-danger"></span>

                    </div>
                    <div class="input-group mb-4 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Permission End Date</div>
                            <label asp-for="PEndDate" class="sr-only" for="inlineFormInputGroupPEndDate"></label>
                        </div>

                        <input asp-for="PEndDate" type="text" class="form-control" id="inlineFormInputGroupPEndDate">
                        <span asp-validation-for="PEndDate" class="text-danger"></span>

                    </div>
                    <div class="input-group mb-4 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Department Number</div>
                            <label asp-for="Dno" class="sr-only" for="inlineFormInputGroupDno"></label>
                        </div>

                        <input asp-for="Dno" type="text" class="form-control" id="inlineFormInputDno">
                        <span asp-validation-for="Dno" class="text-danger"></span>

                    </div>
                    <button type="submit" class="btn btn-action btn-sm px-2" style="float: right">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>