@model HAWK_v.Models.UserModel
@{
    ViewBag.MangDno = Model.Dno;
}
<div class="row tm-content-row tm-mt-big">
    <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <h2>Attendance Statistics</h2>
        <br />

    </div>
</div>
<div class="row">
    <div class="col-4">
        <br />

        <div class="table-responsive">
            <table class="table table-striped mt-4">
                <thead>
                    <tr class="tm-bg-gray">
                        <th>Date</th>
                        <th>Time In</th>
                        <th>Time Out</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        try
                        {
                            foreach (string Attendnce in ViewBag.Attendnce)
                            {
                                string[] x = Attendnce.Split(',');
                                <tr>
                                    <td>
                                        @x[3]
                                    </td>
                                    <td>
                                        @x[0]
                                    </td>
                                    <td>
                                        @x[2]
                                    </td>
                                </tr>
                            }
                        }
                        catch (Exception e)
                        {

                        }
                    }

                </tbody>
            </table>
        </div>

    </div>
    @{
        string[] dep = { "0", "https://app.powerbi.com/view?r=eyJrIjoiYzhlYWRkY2ItYzNlNi00OGM2LTk3OGUtMzQ0MzNmZjdlYjQ4IiwidCI6IjJkMzE5NGUzLTE2NTQtNDZiZC1iYWUyLWFkMzdiYTExYjBhZSIsImMiOjl9", "https://app.powerbi.com/view?r=eyJrIjoiNTdhNzk4N2ItMGM0Zi00MTNjLWEwYjYtYzNkM2M0ZTA0OGUzIiwidCI6IjJkMzE5NGUzLTE2NTQtNDZiZC1iYWUyLWFkMzdiYTExYjBhZSIsImMiOjl9", "https://app.powerbi.com/view?r=eyJrIjoiODc0YWQ1NjItNzNiMi00NDA2LTk5MDItMzU4MTVkYTM5ZTUyIiwidCI6IjJkMzE5NGUzLTE2NTQtNDZiZC1iYWUyLWFkMzdiYTExYjBhZSIsImMiOjl9" };
    }

<div class="col-8">
    <br />
    <iframe title="HawkAnalysis" width="600" height="500" src="@dep[ Model.Dno]" frameborder="0" allowFullScreen="true"></iframe>
</div>
    </div>
