@model HAWK_v.Models.UserModel

<div>
    <h4>HELLO MANAGER</h4>
    <hr />
    <dl class="row">
        <iframe title="HAWK-Analysis" width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiZTU2Njk2ODMtZGUxNC00MDMxLTkxOWEtYjMyMDU0YjJjNDEwIiwidCI6IjJkMzE5NGUzLTE2NTQtNDZiZC1iYWUyLWFkMzdiYTExYjBhZSIsImMiOjl9&pageName=ReportSection?filter=Users/Dno eq 2" frameborder="0" allowFullScreen="true"></iframe>    <a asp-action="Index">Back to List</a>
</div>
